[Unit]
Description=NZXT hardware startup script

[Service]
Type=oneshot
ExecStart=/usr/local/bin/liquidctl -d 0 set pump speed  20 60  65 75  75 80  85 90
ExecStart=/usr/local/bin/liquidctl -d 0 set fan speed  20 20  45 30  55 35  65 45  70 55  75 75  80 90  85 100
ExecStart=/usr/local/bin/liquidctl -d 0 set ring color tai-chi aa00ff 0091ea
ExecStart=/usr/local/bin/liquidctl -d 0 set logo color fixed d500f9 
ExecStart=/usr/local/bin/liquidctl -d 1 set fan2 speed 40                                                      
ExecStart=/usr/local/bin/liquidctl -d 1 set fan3 speed 45
ExecStart=/usr/local/bin/liquidctl -d 1 set led1 color fixed aa00ff


[Install]
WantedBy=multi-user.target

