[Unit]
Description=NZXT hardware startup script
Requires=dev-kraken.device
Requires=dev-nzxthub.device
After=dev-kraken.device
After=dev-nzxthub.device

[Service]
Type=oneshot
ExecStart=liquidctl initialize all
ExecStart=liquidctl --match kraken set pump speed  20 60  35 65  45 70  65 75  75 80  85 90
ExecStart=liquidctl --match kraken set fan speed  20 20  35 35  55 55  
ExecStart=liquidctl --match kraken set ring color tai-chi aa00ff 0091ea
ExecStart=liquidctl --match kraken set logo color fixed ffffff 
ExecStart=liquidctl --match smart set fan2 speed 40                                                      
ExecStart=liquidctl --match smart set fan3 speed 45
ExecStart=liquidctl --match smart set led1 color fixed aa00ff

[Install]
WantedBy=multi-user.target
